@import "../../styles/utils/mixins";

.home_layout_wrapper {
    padding-top: 100px;
    min-height: 100vh;
    transition: all 0.2s ease-in-out;

    @include mobile {
        padding-top: 100px;
    }
}

.articles_wrap {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}
