@import "../../styles/utils/mixins";

.withSidebar_article_wrapper,
.centered_article_wrapper {
    @apply bg-slate-100;

    .article_content {
        min-height: 100vh;
        max-width: 900px;
        width: 100%;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        @apply md:border md:border-slate-200 border-0 rounded-none md:rounded-[8px];
    }
}

.centered_article_wrapper {
    .article_content,
    .author_and_more {
        max-width: 1000px;
    }
}

/*Article siebar*/

.article_sidebar_wrapper {
    // height: 100vh;
    width: 100%;
    max-width: 350px;
    padding: 0px 0px 0px 10px;
    // overflow: auto;
    // position: sticky;
    top: 105px;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    @include mobile {
        margin-top: 50px;
        padding: 0px;
        height: auto;
        max-width: 100%;

        .more_from_author,
        .sidebar_author_details {
            border-radius: 0px;
        }
    }

    @include tab {
        margin-top: 0px;
        max-width: 100%;
        padding: 0px;
        margin-top: 50px;
    }
}

.sidebar_author_details,
.more_from_author {
    // overflow: hidden;
    // padding: 0px 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    // margin-bottom: 30px;
    @apply border border-slate-100 bg-white md:rounded-[8px] px-[15px] py-[10px] mb-[30px] overflow-hidden;
}

.sidebar_author_details {
    padding-top: 15px;
    .author {
        display: flex;
        align-items: center;
    }
    .author_img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 10px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(#7389ff, 0.2);
        -moz-box-shadow: 0px 5px 20px 0px rgba(#7389ff, 0.2);
        box-shadow: 0px 5px 20px 0px rgba(#7389ff, 0.2);
        overflow: hidden;
        @apply bg-gray-500;

        img {
            width: 100%;
        }
    }
}

.more_from_author {
    &__articles {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;

        .article_image {
            width: 25%;
            aspect-ratio: 1;
            margin-right: 10px;
            background-size: cover !important;
            border-radius: 8px;
            flex-shrink: 0;
            background-position: center !important;
            @apply bg-gray-500;
        }

        .article_title {
            font-size: 16px;
            font-weight: 500;

            &:hover {
                @apply text-blue-500;
            }
        }
    }
}

.withSidebar_article_wrapper {
    .more_from_author {
        @include tab {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__articles {
                width: 47%;
                margin-bottom: 10px;
            }
        }
    }
}
