@import "../../styles/utils/mixins";

.article_card,
.featured_article {
    @apply bg-white text-black rounded-[4px] overflow-hidden h-full drop-shadow-lg transition-transform;
    
    &:hover{
        transform: translateY(-10px);
    }
}

.featured_article {
    @apply flex relative w-full md:flex-nowrap flex-wrap;
    margin: 0px 10px 30px;

    &__image {
        @apply md:w-[50%] w-full md:h-[auto] h-[200px];
        border-radius: 0;
        align-self: stretch;
        background-size: cover !important;
        background-position: center !important;
    }
}

.featured_article {
    .author_img {
        @apply w-[45px] h-[45px] overflow-hidden;

        img{
            width: 100%;
        }
    }
}