@import "../../styles/utils/color";
@import "../../styles//utils/mixins";

.shadow {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $black;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 10;
    background: $white;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.search_wrapper {
    width: auto;
    display: inline-flex;
    position: relative;
    cursor: pointer;
    input {
        height: 40px;
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        padding: 0px 40px 0px 5px;
    }
    button {
        height: 100%;
        width: 25px;
        background: none;
        box-sizing: border-box;
        box-shadow: none;
        border: none;
        padding: 3px;
        position: absolute;
        cursor: pointer;
        z-index: 5;
        right: 5px;
    }
}

.theme_switch {
    background: none;
    margin: 0;
    border: 0;
    cursor: pointer;
}

@include mobile {
    .logo {
        width: 35px;
        height: 35px;
    }

    .search_wrapper {
        width: auto;
        input {
            height: 35px;
        }
    }
}

.navbar.dark {
    background: $articleDarkBG2;

    .search_wrapper {
        color: $white;
    }
}
