
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import './utils/mixins';
@import './utils/color';
// @import './utils/text';
// @import './utils/widths';
// // @import './utils/spacing';
// // @import './utils/flexbox';
@import './utils/misc';
@import './utils//fonticons';

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover{
    color: $lightBlue;
  }
}

* {
  box-sizing: border-box;
}