@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@import "./utils/mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    @apply text-blue-600;
  }
}

* {
  box-sizing: border-box;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  -webkit-animation: fadeIn 0.3s forwards;
  animation: fadeIn 0.3s forwards;
  z-index: 12;
}

hr {
  background: none;
  border: none;
  border-top: solid 1px;
  @apply border-gray-300;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

// react pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;

  .previous,
  .next {
    font-size: 22px;
    @apply bg-blue-500 p-2 rounded-full text-white;
    margin: 0px 10px;

    a:hover {
      @apply text-blue-200;
    }

    &.disabled {
      @apply pointer-events-none bg-gray-500;
    }
  }

  li {
    margin: 0px 10px;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      @apply bg-blue-500 rounded-full;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }

    &.active{
      &::before {
        display: block;
      }
    }
  }
}
