@import "../../styles/utils/mixins";

.article_image__wrapper {
    &.size_default {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    &.size_full {
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 45px);
    }

    &.size_small {
        width: 50%;
        margin: 0 auto;

        @include mobile{
            width: 80%;
        }
    }

    &.size_medium{
        width: 70%;
        margin: 0 auto;

        @include mobile{
            width: 80%;
        }
    }
}
