$displays: flex, inline-flex;
$directions: row, column, row-r, column-r;
$justifys: start, end, center, space-between, space-around, space-evenly;
$aligns: start, end, center, baseline, stretch;

// display flex
@each $each in $displays {
    .d-#{$each} {
        display: $each;
    }
}

// direction
@each $each in $directions {
    .flex-#{$each} {
        flex-direction: $each;
    }
}

// justify content
@each $each in $justifys {
    .justify-#{$each} {
        justify-content: $each;
    }

    .justify-items-#{$each} {
        justify-items: $each;
    }
}

// justify content
@each $each in $aligns {
    .align-#{$each} {
        align-items: $each;
    }

    .align-self-#{$each} {
        align-self: $each;
    }
}

@include mobile {
    // display flex
    @each $name in $displays {
        .d-sm-#{$name} {
            display: $name;
        }
    }

    // direction
    @each $each in $directions {
        .flex-sm-#{$each} {
            flex-direction: $each;
        }
    }

    // justify content
    @each $each in $justifys {
        .justify-sm-#{$each} {
            justify-content: $each;
        }

        .justify-items-sm-#{$each} {
            justify-items: $each;
        }
    }

    // justify content
    @each $each in $aligns {
        .align-sm-#{$each} {
            align-items: $each;
        }

        .align-self-sm-#{$each} {
            align-self: $each;
        }
    }
}

@include tab {
    // display flex
    @each $name in $displays {
        .d-md-#{$name} {
            display: $name;
        }
    }

    // direction
    @each $each in $directions {
        .flex-md-#{$each} {
            flex-direction: $each;
        }
    }

    // justify content
    @each $each in $justifys {
        .justify-md-#{$each} {
            justify-content: $each;
        }

        .justify-items-md-#{$each} {
            justify-items: $each;
        }
    }

    // justify content
    @each $each in $aligns {
        .align-md-#{$each} {
            align-items: $each;
        }

        .align-self-md-#{$each} {
            align-self: $each;
        }
    }
}

@include desktop {
    // display flex
    @each $name in $displays {
        .d-lg-#{$name} {
            display: $name;
        }
    }

    // direction
    @each $each in $directions {
        .flex-lg-#{$each} {
            flex-direction: $each;
        }
    }

    // justify content
    @each $each in $justifys {
        .justify-lg-#{$each} {
            justify-content: $each;
        }

        .justify-items-lg-#{$each} {
            justify-items: $each;
        }
    }

    // justify content
    @each $each in $aligns {
        .align-lg-#{$each} {
            align-items: $each;
        }

        .align-self-lg-#{$each} {
            align-self: $each;
        }
    }
}
