@font-face {
	font-family: 'Socialico';
	src:url('../../assets/fonticons/Socialico-Regular.eot');
	src:url('../../assets/fonticons/Socialico-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonticons/Socialico-Regular.woff') format('woff'),
		url('../../assets/fonticons/Socialico-Regular.ttf') format('truetype'),
		url('../../assets/fonticons/Socialico-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SocialicoPlus';
	src:url('../../assets/fonticons/SocialicoPlus-Plus.eot');
	src:url('../../assets/fonticons/SocialicoPlus-Plus.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonticons/SocialicoPlus-Plus.woff') format('woff'),
		url('../../assets/fonticons/SocialicoPlus-Plus.ttf') format('truetype'),
		url('../../assets/fonticons/SocialicoPlus-Plus.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*="icon-"], [class^="icon-2-"], [class*="icon-2-"]{
	speak: none;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*="icon-"] {
	font-family: 'Socialico';
}

[class^="icon-2-"], [class*="icon-2-"] {
	font-family: 'SocialicoPlus';
}

$letters: A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z, a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z,1,2,3,4,5,6,7,8,9,0;

@each $each in $letters {
    .icon-#{$each}:before {
        content: ''+$each+'';
    }

	.icon-2-#{$each}:before {
        content: ''+$each+'';
    }
}
