$pxls: 0, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 44, 46, 48, 50, 52, 54, 56, 58, 60,
    64, 68, 70, 74, 78, 80, 90, 100, 110, 120;

// padding left
@each $val in $pxls {
    .pl-#{$val} {
        padding-left: $val + px;
    }
}

// padding right
@each $val in $pxls {
    .pr-#{$val} {
        padding-right: $val + px;
    }
}

// padding x
@each $val in $pxls {
    .px-#{$val} {
        padding-left: $val + px;
        padding-right: $val + px;
    }
}

// padding top
@each $val in $pxls {
    .pt-#{$val} {
        padding-top: $val + px;
    }
}

// padding bottom
@each $val in $pxls {
    .pb-#{$val} {
        padding-bottom: $val + px;
    }
}

// padding y
@each $val in $pxls {
    .py-#{$val} {
        padding-top: $val + px;
        padding-bottom: $val + px;
    }
}

// --------------------margin
// margin left
@each $val in $pxls {
    .ml-#{$val} {
        margin-left: $val + px;
    }
}

// margin right
@each $val in $pxls {
    .mr-#{$val} {
        margin-right: $val + px;
    }
}

// margin x
@each $val in $pxls {
    .mx-#{$val} {
        margin-left: $val + px;
        margin-right: $val + px;
    }
}

// margin top
@each $val in $pxls {
    .mt-#{$val} {
        margin-top: $val + px;
    }
}

// margin bottom
@each $val in $pxls {
    .mb-#{$val} {
        margin-bottom: $val + px;
    }
}

// margin y
@each $val in $pxls {
    .my-#{$val} {
        margin-top: $val + px;
        margin-bottom: $val + px;
    }
}

// ----------------------- mobile
@include mobile {
    // padding left
    @each $val in $pxls {
        .pl-sm-#{$val} {
            padding-left: $val + px;
        }
    }

    // padding right
    @each $val in $pxls {
        .pr-sm-#{$val} {
            padding-right: $val + px;
        }
    }

    // padding x
    @each $val in $pxls {
        .px-sm-#{$val} {
            padding-left: $val + px;
            padding-right: $val + px;
        }
    }

    // padding top
    @each $val in $pxls {
        .pt-sm-#{$val} {
            padding-top: $val + px;
        }
    }

    // padding bottom
    @each $val in $pxls {
        .pb-sm-#{$val} {
            padding-bottom: $val + px;
        }
    }

    // padding y
    @each $val in $pxls {
        .py-sm-#{$val} {
            padding-top: $val + px;
            padding-bottom: $val + px;
        }
    }

    // --------------------margin
    // margin left
    @each $val in $pxls {
        .ml-sm-#{$val} {
            margin-left: $val + px;
        }
    }

    // margin right
    @each $val in $pxls {
        .mr-sm-#{$val} {
            margin-right: $val + px;
        }
    }

    // margin x
    @each $val in $pxls {
        .mx-sm-#{$val} {
            margin-left: $val + px;
            margin-right: $val + px;
        }
    }

    // margin top
    @each $val in $pxls {
        .mt-sm-#{$val} {
            margin-top: $val + px;
        }
    }

    // margin bottom
    @each $val in $pxls {
        .mb-sm-#{$val} {
            margin-bottom: $val + px;
        }
    }

    // margin y
    @each $val in $pxls {
        .my-sm-#{$val} {
            margin-top: $val + px;
            margin-bottom: $val + px;
        }
    }
}


// ----------------------- mobile
@include tab {
    // padding left
    @each $val in $pxls {
        .pl-md-#{$val} {
            padding-left: $val + px;
        }
    }

    // padding right
    @each $val in $pxls {
        .pr-md-#{$val} {
            padding-right: $val + px;
        }
    }

    // padding x
    @each $val in $pxls {
        .px-md-#{$val} {
            padding-left: $val + px;
            padding-right: $val + px;
        }
    }

    // padding top
    @each $val in $pxls {
        .pt-md-#{$val} {
            padding-top: $val + px;
        }
    }

    // padding bottom
    @each $val in $pxls {
        .pb-md-#{$val} {
            padding-bottom: $val + px;
        }
    }

    // padding y
    @each $val in $pxls {
        .py-md-#{$val} {
            padding-top: $val + px;
            padding-bottom: $val + px;
        }
    }

    // --------------------margin
    // margin left
    @each $val in $pxls {
        .ml-md-#{$val} {
            margin-left: $val + px;
        }
    }

    // margin right
    @each $val in $pxls {
        .mr-md-#{$val} {
            margin-right: $val + px;
        }
    }

    // margin x
    @each $val in $pxls {
        .mx-md-#{$val} {
            margin-left: $val + px;
            margin-right: $val + px;
        }
    }

    // margin top
    @each $val in $pxls {
        .mt-md-#{$val} {
            margin-top: $val + px;
        }
    }

    // margin bottom
    @each $val in $pxls {
        .mb-md-#{$val} {
            margin-bottom: $val + px;
        }
    }

    // margin y
    @each $val in $pxls {
        .my-md-#{$val} {
            margin-top: $val + px;
            margin-bottom: $val + px;
        }
    }
}


// ----------------------- mobile
@include desktop {
    // padding left
    @each $val in $pxls {
        .pl-lg-#{$val} {
            padding-left: $val + px;
        }
    }

    // padding right
    @each $val in $pxls {
        .pr-lg-#{$val} {
            padding-right: $val + px;
        }
    }

    // padding x
    @each $val in $pxls {
        .px-lg-#{$val} {
            padding-left: $val + px;
            padding-right: $val + px;
        }
    }

    // padding top
    @each $val in $pxls {
        .pt-lg-#{$val} {
            padding-top: $val + px;
        }
    }

    // padding bottom
    @each $val in $pxls {
        .pb-lg-#{$val} {
            padding-bottom: $val + px;
        }
    }

    // padding y
    @each $val in $pxls {
        .py-lg-#{$val} {
            padding-top: $val + px;
            padding-bottom: $val + px;
        }
    }

    // --------------------margin
    // margin left
    @each $val in $pxls {
        .ml-lg-#{$val} {
            margin-left: $val + px;
        }
    }

    // margin right
    @each $val in $pxls {
        .mr-lg-#{$val} {
            margin-right: $val + px;
        }
    }

    // margin x
    @each $val in $pxls {
        .mx-lg-#{$val} {
            margin-left: $val + px;
            margin-right: $val + px;
        }
    }

    // margin top
    @each $val in $pxls {
        .mt-lg-#{$val} {
            margin-top: $val + px;
        }
    }

    // margin bottom
    @each $val in $pxls {
        .mb-lg-#{$val} {
            margin-bottom: $val + px;
        }
    }

    // margin y
    @each $val in $pxls {
        .my-lg-#{$val} {
            margin-top: $val + px;
            margin-bottom: $val + px;
        }
    }
}