$sizes: 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 40, 42, 45, 48, 64, 66, 68, 70, 72, 76, 80;
$weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semi": 600,
    "bold": 700,
);

$textAligns: left, right, center;

/*
font styles that will be generated as follows

general - 
    font size: font-8, font-10 ...etc
    font-color: font-green, font-light-green, font-yellow, font-blue, font-light-blue
    font-weight: font-light, font-regular, font-medium, font-semi, font-bold

mobile - 
    font size: font-sm-8, font-sm-10 ...etc
    font-weight: font-sm-light, font-sm-regular, font-sm-medium, font-sm-semi, font-sm-bold

tab - 
    font size: font-md-8, font-md-10 ...etc
     font-weight: font-md-light, font-md-regular, font-md-medium, font-md-semi, font-md-bold
*/

// font sizes
@each $size in $sizes {
    .font-#{$size} {
        font-size: $size + px;
    }
}

// font weights
@each $name, $weight in $weights {
    .font-#{$name} {
        font-weight: $weight;
    }
}

// font colors;
@each $name, $color in $colors {
    .font-#{$name} {
        color: $color;
    }
}

// text align
@each $align in $textAligns {
    .text-#{$align} {
        text-align: $align;
    }
}

@include mobile {
    @each $size in $sizes {
        .font-sm-#{$size} {
            font-size: $size + px;
        }
    }

    @each $name, $weight in $weights {
        .font-sm-#{$name} {
            font-weight: $weight;
        }
    }
}

@include tab {
    @each $size in $sizes {
        .font-md-#{$size} {
            font-size: $size + px;
        }
    }

    @each $name, $weight in $weights {
        .font-md-#{$name} {
            font-weight: $weight;
        }
    }
}

@include desktop {
    @each $size in $sizes {
        .font-lg-#{$size} {
            font-size: $size + px;
        }
    }

    @each $name, $weight in $weights {
        .font-lg-#{$name} {
            font-weight: $weight;
        }
    }
}
