$widths: 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

// container widths
@each $width in $widths {
    .w-#{$width} {
        width: $width * 1%;
    }
}

.w-screen{
    width: 100vh;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-large{
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}

@include mobile{
    @each $width in $widths {
        .w-sm-#{$width} {
            width: $width * 1%;
        }
    }

    .container-large{
        width: 100%;
    }
}

@include tab{
    @each $width in $widths {
        .w-md-#{$width} {
            width: $width * 1%;
        }
    }

    .container-large{
        width: 100%;
    }
}

@include desktop{
    @each $width in $widths {
        .w-lg-#{$width} {
            width: $width * 1%;
        }
    }

    .container-large{
        width: 100%;
    }
}