@import "../../styles/utils/color";
@import "../../styles//utils/mixins";

.shadow {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $black;
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 10;
    background: $white;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.search_icon_wrapper {
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;

    button {
        height: auto;
        width: 25px;
        background: none;
        box-sizing: border-box;
        box-shadow: none;
        border: none;
        padding: 3px;
        cursor: pointer;
    }
}

.theme_switch {
    background: none;
    margin: 0;
    border: 0;
    cursor: pointer;
}

@include mobile {
    .logo {
        width: 30px;
        height: 30px;
    }

    .search_icon_wrapper {
        width: auto;

        input {
            height: 35px;
        }
    }
}

.navbar.dark {
    background: $darkBlue;

    .search_icon_wrapper {
        color: $white;
    }
}

.hideNav {
    @include mobile {
        transition: all 0.5s ease;
        transform: translateY(-110%);
    }
}

.mobileBurgerToggle {
    display: none;

    @include mobile {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            display: block;
            width: 30px;
            height: 2px;
            background: $black;
            position: relative;
            top: -3px;
            transition: all 0.5s ease-in-out;

            &::before {
                transition: all 0.5s ease-in-out;
                content: '';
                position: absolute;
                width: 75%;
                height: 2px;
                background: $black;
                left: 0;
                display: block;
            }

            &::before {
                top: 7px;
            }
        }

        &__close {
            span {
                transform: rotate(135Deg);
                transform-origin: center center;
                top: 2px;

                &::before {
                    transform: rotate(-270Deg);
                    transform-origin: center center;
                    top: 0px;
                    width: 100%;
                }
            }
        }
    }
}