@import "../../styles/utils/color";
@import "../../styles//utils/mixins";

.shadow {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $black;
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 10;
    background: $white;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.search_icon_wrapper {
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;

    button {
        height: auto;
        width: 25px;
        background: none;
        box-sizing: border-box;
        box-shadow: none;
        border: none;
        padding: 3px;
        cursor: pointer;
    }
}

.theme_switch {
    background: none;
    margin: 0;
    border: 0;
    cursor: pointer;
}

@include mobile {
    .logo {
        width: 30px;
        height: 30px;
    }

    .search_icon_wrapper {
        width: auto;

        input {
            height: 35px;
        }
    }
}

.navbar.dark {
    background: $darkBlue;

    .search_icon_wrapper {
        color: $white;
    }

    .mobileBurgerToggle {
        span,
        span::before {
            background: $white;
        }
    }

    .sidebarCategoryDD__floating{
        background: $darkBlue2;

        a{
            border-bottom-color: $blue;
        }
    }
}

.hideNav {
    @include mobile {
        transition: all 0.5s ease;
        transform: translateY(-110%);
    }
}

.mobileBurgerToggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
        display: block;
        width: 30px;
        height: 2px;
        background: $black;
        position: relative;
        top: -3px;
        transition: all 0.5s ease-in-out;

        &::before {
            transition: all 0.5s ease-in-out;
            content: "";
            position: absolute;
            width: 75%;
            height: 2px;
            background: $black;
            left: 0;
            display: block;
        }

        &::before {
            top: 7px;
        }
    }

    // &__close {
    //     span {
    //         transform: rotate(135deg);
    //         transform-origin: center center;
    //         top: 2px;

    //         &::before {
    //             transform: rotate(-270deg);
    //             transform-origin: center center;
    //             top: 0px;
    //             width: 100%;
    //         }
    //     }
    // }
}

// nav sidebar
.nav_sidebar_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-width: 300px;
    background-color: $white;
    transition: all 0.5s ease-in-out;
    transform: translateX(-110%);
    z-index: 13;
    color: $black;
    padding: 20px 15px 10px;
    overflow-y: auto;

    &.open {
        transform: translateX(0%);
    }

    .navSidebarHeader {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .sideNavCloseIcon {
        position: relative;
        width: 25px;
        height: 25px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            position: relative;
            width: 100%;
            height: 2px;
            background: $darkSpaceGray;
            transform: rotate(45deg);

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: $darkSpaceGray;
                transform: rotate(90deg);
            }
        }
    }

    &.dark {
        background-color: $darkBlue2;
        color: $white;

        .sideNavCloseIcon {
            span,
            span::after {
                background-color: $white;
            }
        }
    }

    @include mobile {
        max-width: 380px;
    }
}

.sidebarCategoryDD_wrapper {
    position: relative;

    .sidebarCategoryDD {
        overflow: auto;
        border-radius: 4px;
        // transition: all 0.2s ease-in-out;

        a {
            border-bottom: solid 1px $gray;
            padding: 10px 10px;
        }

        &__floating {
            position: absolute;
            background: $white;
            width: 180px;
            z-index: 20;
            top: 35px;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }
    }
}
