@import "../../styles/utils/color";
@import "../../styles/utils/mixins";

.withSidebar_article_wrapper,
.centered_article_wrapper {
    background: $offWhite;

    .article_content {
        min-height: 100vh;
        border-radius: 8px;
        border: solid 1px $grey;
        max-width: 800px;
        overflow: hidden;
        background: $white;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    }

    @include mobile {
        .article_content {
            border: none;
            border-radius: 0px;
        }
    }
}

.centered_article_wrapper {
    .article_content {
        margin: 0 auto;
        max-width: 1000px;
    }
}

.withSidebar_article_wrapper.dark,
.centered_article_wrapper.dark {
    background: $darkBlue;
    color: $white;

    .article_content {
        border: solid 1px $darkBlue;
        background: $darkBlue1;
    }
}

/*Article siebar*/

.article_sidebar_wrapper {
    height: 100vh;
    width: 100%;
    max-width: 400px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 100px;
    padding: 0px 15px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    @include mobile {
        margin-top: 50px;
        padding: 0px;
        height: auto;

        .more_from_author,
        .sidebar_author_details {
            border-radius: 0px;
        }
    }

    @include tab {
        margin-top: 0px;
    }
}

.sidebar_author_details,
.more_from_author {
    background: $white;
    border-radius: 8px;
    overflow: hidden;
    padding: 0px 15px;
    border: solid 1px $grey;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.sidebar_author_details {
    padding-top: 15px;
    .author {
        display: flex;
        align-items: center;
    }
    .author_img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: $grey;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(#7389ff, 0.2);
        -moz-box-shadow: 0px 5px 20px 0px rgba(#7389ff, 0.2);
        box-shadow: 0px 5px 20px 0px rgba(#7389ff, 0.2);
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}

.more_from_author {
    > p {
        font-weight: 500;
        padding-bottom: 10px;
        border-bottom: solid 1px $gray;
    }
    &__articles {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;

        .article_image {
            width: 25%;
            aspect-ratio: 1;
            background: $gray;
            margin-right: 10px;
            background-size: cover !important;
            border-radius: 8px;
            flex-shrink: 0;
            background-position: center !important;
        }

        .article_title {
            font-size: 16px;
            font-weight: 500;

            &:hover {
                color: $lightBlue;
            }
        }
    }
}

.withSidebar_article_wrapper.dark {
    .more_from_author,
    .sidebar_author_details {
        border: solid 1px $darkBlue;
        background: $darkBlue1;
    }
}
