@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import './utils/mixins';
@import './utils/color';
@import './utils/text';
@import './utils/widths';
@import './utils/spacing';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: $black;
  color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}